* {
    margin: 0;
    padding: 0;
    font-family: Microsoft YaHei,SimHei,SimSun;
}

.bg_gray {
    background: #f5f6fb;
}

.bg_white {
    background: #FFFFFF;
}

.win {
    width: 1182px;
    margin: 0 auto;
}

.flex_row {
    display: flex;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_box {
    background: #333;
    height: 30px;
    line-height: 30px;
    font-style: normal;
    font-size: 12px;
}

.title_text {
    display: flex;
    color: #999999;
    margin-right: 10px;
}

.title_text_right {
    display: flex;
    color: #999999;
    margin-right: 28px;
}

.title_obvious {
    color: #f3b100;
}

.top_box {
    height: 60px;
}

.top_logo {
    width: 108px;
    height: 40px;
    display: flex;
    margin-right: 10px;
}

a {
    text-decoration: none;
    color: #333333;
}

.title_text a:visited {
    color: #999999;
}

.black_a {
    color: #333;
}

.black_a:visited {
    color: #333;
}

.top_search_box {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.top_search {
    width: 280px;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    border: 1px solid #f3f3f3;
    border-right: none;
    background: #fff;
}

.top_search_btn {
    border: none;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    background: #ffbe5e;
    padding: 0 18px 0 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

.top_search_btn:hover {
    border: none;
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    background: #ffbe5e;
    padding: 0 18px 0 20px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
}

input {
    outline: none;
}

.matop {
    margin-top: 20px;
}

.condition_box {
    padding: 20px 0 10px 0;
}

.bottom_box {
    overflow: hidden;
    background: #2c2c2c;
    padding: 54px 0 50px 0;
    margin-top: 10px;
}

.bottom_top {
    display: flex;
    justify-content: space-between;
}

.bottom_box .foot_m {
    margin-right: 100px;
    padding-right: 65px;
    color: #ccc;
    font-size: 14px;
}

.bottom_box .foot_m span {
    font-size: 30px;
    line-height: 34px;
}

.bottom_box .foot_m .flex_row {
    margin-top: 50px;
}

.bottom_box .foot_m a {
    color: #ccc;
}

.bottom_box .foot_l {
    color: #999;
    font: 12px Microsoft YaHei, SimHei, SimSun;
    line-height: 25px;
}

.bottom_box .foot_l a {
    color: #999;
}

.bottom_box .foot_l a:hover {
    color: #FFBB33;
}

.ad_title {
    font-size: 30px;
    line-height: 35px;
    padding: 0 0 45px 0;
    color: #ccc;
    font-weight: normal;
}

.foot_link {
    padding-top: 10px;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    color: #999;
    font: 12px Microsoft YaHei, SimHei, SimSun;
    display: flex;
    align-items: center;
}

.bottom_box .footlink a {
    color: #999;
}

.bottom_box .footlink a:hover {
    color: #FFBB33;
}

.max_width {
    width: 100%;
}

/* 分页 */
.paging {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #999999;
}

.paging_item {
    width: 100px;
    height: 30px;
    font: 12px Microsoft YaHei, SimHei, SimSun;
    border: 1px solid #f3f3f3;
    line-height: 30px;
    text-align: center;
    margin: 0 5px;
}

.paging_item:hover {
    color: #FFBB33;
    cursor: pointer;
}

.content_right {
    flex-shrink: 0;
    flex-grow: 0;
    width: 282px;
    padding-bottom: 15px;
}

.contact_way {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_way .service_info_price_box {
    text-align: center;
    font-weight: normal;
    color: #666;
    padding: 20px 0;
    font-size: 12px;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
}

.contact_way .service_info_price_box .service_info_price {
    color: #333;
    font-size: 20px;
    padding-right: 3px;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 105px;
    border-bottom: 1px solid #e5e5e5;
}

.contact_img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.sec_title {
    line-height: 34px;
    font-size: 16px;
    border-bottom: 4px #f5f8ff solid;
    font-weight: normal;
}

.service_box {
    font: 12px Microsoft YaHei, SimHei, SimSun;
    line-height: 16px;
}

.service_name {
    font-size: 16px;
    display: inline-block;
    padding-right: 15px;
    font-weight: normal;
}

.service_phone {
    padding: 20px 0;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    justify-content: center;
}

.icon_phone {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/phone.png");
    background-size: 20px 20px;
}

.service_phone_text {
    font-size: 24px;
    line-height: 30px;
    color: #666;
    border-bottom: 1px solid #f3f3f3;
}

.ready_see {
    font-size: 16px;
    line-height: 56px;
}

.ready_phone {
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 2px solid #f3f3f3;
    width: 238px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #fff;
}

.btn {
    width: 242px;
    height: 36px;
    margin: 20px 0;
    text-align: center;
    line-height: 36px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #ffbb33;
}

.content_right_title {
    height: 42px;
    line-height: 42px;
    width: 100%;
    margin-top: 15px;
    background: #e7e7e9;
    color: #262313;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content_right_title_img {
    width: 16px;
    height: 16px;
    margin-left: 15px;
}

.clickable {
    cursor: pointer;
}

.left_item .introduce_info {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    text-indent: 2em;
    margin: 20px 0 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #f3f3f3;
}

.hideSelf{
    display: none;
}