.top_info_box {
    background: #FFFFFF;
    padding: 20px 0;
}

.top_info {
    width: 1182px;
    margin: 0 auto;
}

.top_title{
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.headerPosition{
    position: fixed;
    top: 0;
    left: 0;
}

.subscribePosition{
    position: fixed;
    top: 80px;
}

.top_info_title_box{
    margin-bottom: 26px;
}

.swiper_top_info {
    overflow: hidden;
    position: relative;
    margin: 0;
}

.swiper_position {
    position: absolute;
    bottom: 20px;
    display: inline-flex;
    justify-content: center;
    z-index: 10;
    width: 100%;
}

.top_info_image {
    width: 790px;
    height: 440px;
}

.deteil_info_name {
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    color: #fff;
    padding-bottom: 20px;
}

.detail_info_box {
    height: 440px;
    margin-left: 55px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
}

.detail_info_name {
    font-size: 28px;
    line-height: 36px;
    font-weight: normal;
    color: #000000;
    margin-bottom: 20px;
}

.detail_info_price_box {
    color: #000000;
    font-weight: 400;
    flex-grow: 1;
    font-size: 12px;
    text-align: right;
}

.detail_info_price {
    font-size: 28px;
    line-height: 40px;
    color: #FF0000;
    font-weight: bold;
    padding-right: 3px;
}

.img_map_box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map_box{
    width: 360px;
    height: 440px;
    background: #FFFFFF;
}

.infodown_box {
    padding: 10px 0 15px 0;
    color: #FFFFFF;
    width: 100%;
    border-bottom: 1px rgba(255, 255, 255, .1) solid;
}

.infodown {
    margin-right: 50px;
}

.infodown_top {
    font-size: 18px;
    line-height: 32px;
    color: #fff;
    font-weight: bold;
}

.infodown_bottom {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
}

.page_info_more {
    font-size: 14px;
    color: #fff;
    line-height: 34px;
    justify-content: flex-start;
    align-items: flex-start;
}

.mini_line_height {
    line-height: 24px;
}

.page_info_service {
    padding: 20px 0;
    width: 100%;
}

.page_info_service_imgage {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

.page_info_service_right {
    flex-grow: 1;
    align-items: flex-start;
}

.page_info_service_name {
    font: 12px Microsoft YaHei, SimHei, SimSun;
    line-height: 16px;
    color: #FFFFFF;
}

.page_info_service_name span {
    font-size: 16px;
}

.page_info_service_btn_box {
    margin-top: 10px;
}

.page_info_service_btn {
    padding: 0 20px;
    font-size: 14px;
    background: #FFA200;
    color: #fff;
    border-radius: 10px;
    height: 30px;
    -webkit-border-radius: 10px;
    line-height: 30px;
}

.page_info_service_phone {
    font-size: 23px;
    font-weight: bold;
    color: #FFA200;
    margin-left: 15px;
}

.address_clickable:hover {
    color: rgba(255, 255, 255, .6);
    text-decoration: underline;
}

.content_box {
    align-items: flex-start;
}

.content_left {
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.left_item {
    flex-grow: 1;
    width: 840px;
    padding: 0 20px;
}

.error_not_text {
    margin: 20px 0;
    line-height: 28px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.sec_title {
    line-height: 34px;
    font-size: 16px;
    border-bottom: 4px #f5f8ff solid;
    font-weight: normal;
}

.content_right {
    flex-shrink: 0;
    flex-grow: 0;
    width: 282px;
    z-index: 8;
}

.contact_way {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.contact_info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 105px;
    border-bottom: 1px solid #e5e5e5;
}

.contact_img {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}

/*筛选*/

.condition_line {
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px dotted #f3f3f3;
    line-height: 28px;
    padding: 6px 0;
}

.condition_line a {
    color: #333;
}

.condition_line a:hover {
    color: #FFA200;
}

.condition_title {
    color: #999;
    font-size: 12px;
    margin-right: 30px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.option_box {
    flex-wrap: wrap;
}

.table_box {
    width: 100%;
    table-layout: fixed;
}

.table_box tr td {
    border-bottom: 1px solid #f3f3f3;
    color: #666;
    font: 12px Microsoft YaHei, SimHei, SimSun;
    line-height: 16px;
}

.table_box td {
    line-height: 32px;
    font: 12px Microsoft YaHei, SimHei, SimSun;
    padding-right: 30px;
    height: 146px;
}

.table_box .table_title td {
    color: #333;
    text-align: left;
    height: 33px;
}

.table_box tr td .big_text {
    font-size: 20px;
}

.price_color {
    color: #ff0000;
}

.bottom_info_box {
    flex-wrap: wrap;
}

.bottom_info_item {
    min-width: 400px;
    line-height: 32px;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    flex-direction: row;
}

.bottom_info_title {
    float: left;
    min-width: 60px;
    color: #999;
    font-size: 12px;
    padding-right: 10px;
    flex-shrink: 0;
}

.bottom_info_text {
    line-height: 32px;
    overflow: hidden;
    color: #666;
    font-size: 12px;
    flex-shrink: 1;
}

.table_item_image {
    width: 140px;
    height: 105px;
}


.source_info_td div:hover {
    color: #FFA200;
}
