body {
    background: #F5F6FB;
}

input {
    width: 200px;
    height: 20px;
    padding: 2px;
    font-size: 13px;
    margin-right: 10px;
}

button {
    width: 80px;
    height: 20px;
    font-size: 13px;
}

img {
    width: 100px;
    height: 100px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin: 20px auto;
    width: 1142px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.key {
    width: 80px;
    font-size: 16px;
}

.introduce {
    width: 100%;
    height: auto;
    resize: none;
    overflow: visible;
    padding: 5px;
}