body {
    background: #F5F6FB;
    margin: 20px 0 100px 0;
}

input {
    width: 200px;
    height: 20px;
    padding: 2px;
    font-size: 13px;
    margin-right: 10px;
}

button {
    width: 80px;
    height: 20px;
    font-size: 13px;
    margin: 0 5px;
}

button:hover {
    cursor: pointer;
}

img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}

span {
    font-size: 13px;
    margin: 0 5px;
}

.column {
    display: flex;
    flex-direction: column;
}

.box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin: 0 auto 40px auto;
    width: 1142px;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.key {
    width: 80px;
    font-size: 16px;
}

.introduce {
    width: 100%;
    height: auto;
    resize: none;
    overflow: visible;
    padding: 5px;
}

.submit {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    color: #333333;
    margin: 20px auto;
    width: 1142px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    cursor: pointer;
    color: #FFFFFF;
    background: #333333;
}

.choose_value {
}

.choose_value:hover {
    cursor: pointer;
    color: #f3b100;
}

.choose_value_positive {
    margin: 0 5px;
    color: #f3b100;
}

.choose_value_positive:hover {
    cursor: pointer;
    color: #f3b100;
}