
body {
    background: #f3f3f3;
    min-height: 100%;
}

.content_box .content_right_box {
    padding: 20px;
    background: #FFFFFF;
    flex: 1;
    margin-right: 20px;
}

.news_detail_title {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 10px;
}

.news_time {
    margin-top: 10px;
    color: #666;
    text-align: center;
    font-size: 12px;
}

.news_content {
    line-height: 28px;
    margin-top: 10px;
    font-size: 14px;
    width: 850px;
    display: inline-block;
    word-break: break-all;
}
.news_content img {
    width: 100%;
}

.news_content ul li {
    list-style: none;
}

.news_keyword {
    margin-top: 50px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.keyword_item {
    padding: 4px 10px;
    background: #CCCCCC;
    margin-right: 4px;
    color: #FFFFFF;
    font-size: 12px;
}

.hot_zone_sign {
    margin-top: 55px;
}

.hot_zone_line {
    width: 70px;
    height: 1px;
    background: #bdbdbd;
}

.hot_zone_value {
    margin-top: 16px;
    font-size: 12px;
    color: #bdbdbd;
    margin-right: 7px;
}

.hot_zone_value:hover {
    cursor: pointer;
    color: #e99640;
}

.hot_building_sign {
    margin-top: 55px;
}

.hot_building_line {
    width: 70px;
    height: 1px;
    background: #bdbdbd;
}

.hot_building_value {
    margin-top: 16px;
    margin-bottom: 88px;
    font-size: 12px;
    color: #bdbdbd;
    margin-right: 7px;
}

.hot_building_value:hover {
    cursor: pointer;
    color: #e99640;
}