
body {
    background: #f3f3f3;
    min-height: 100%;
}

/* 新闻列表父布局 */
.content_right_box {
    flex-grow: 1;
}

/* 单条新闻父布局 */
.news_item_box {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 1000px;
}

/* 新闻图片 */
.news_img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
    flex-shrink: 0;
}

/* 新闻信息父布局 */
.news_info_box {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

/* 新闻标题父布局 */
.news_title_box {
    display: flex;
    flex-direction: row;
}

/* 新闻类型 */
.item_type {
    font-size: 12px;
    display: inline-block;
    line-height: 22px;
    padding: 0 5px;
    background: #e94700;
    margin-right: 10px;
    color: #FFFFFF;
}

/* 新闻标题 */
.news_title {
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.news_title:hover {
    color: #FFA200;
}

/* 新闻时间 */
.news_time {
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}

/* 新闻主体 */
.news_text {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    margin: 14px 0 0 0;
    width: 590px;
    height: 90px;
    word-break:break-all;
}

#page_box .layui-laypage{
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}