
body {
    min-height: 100%;
}

.type_background{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.news_type{
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #F06351;
    height: 100%;
    align-items: center;
    margin-bottom: 1px;
}

.news_type_item{
    border: 1px solid #F06351;
    height: 40px;
    width: 120px;
    color: #F06351;
    margin: 0 16px;
    text-align: center;
    line-height: 40px;
}

.news_type_item:hover{
    border: 1px solid #F06351;
    background: #F06351;
    height: 40px;
    width: 120px;
    color: #FFFFFF;
    margin: 0 16px;
    text-align: center;
    line-height: 40px;
}

.news_type_item_select{
    border: 1px solid #F06351;
    background: #F06351;
    height: 40px;
    width: 120px;
    color: #FFFFFF;
    margin: 0 16px;
    text-align: center;
    line-height: 40px;
}

/* 新闻列表父布局 */
.content_right_box {
    flex-grow: 1;
    box-shadow: 0 5px 4px 4px rgba(150, 150, 150, .1);
}

.news_list_box{
    flex-grow: 1;
}

/* 单条新闻父布局 */
.news_item_box {
    display: flex;
    flex-direction: row;
    background: #FFFFFF;
    padding: 20px;
    border-bottom: 1px solid #f3f3f3;
    max-width: 1000px;
}

/* 新闻图片 */
.news_img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
    flex-shrink: 0;
}

/* 新闻信息父布局 */
.news_info_box {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* 新闻标题父布局 */
.news_title_box {
    display: flex;
    flex-direction: row;
}

/* 新闻类型 */
.item_type {
    font-size: 12px;
    display: inline-block;
    line-height: 22px;
    padding: 0 5px;
    background: #e94700;
    margin-right: 10px;
    color: #FFFFFF;
}

/* 新闻标题 */
.news_title {
    cursor: pointer;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.news_title:hover {
    color: #FFA200;
}

/* 新闻时间 */
.news_time {
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}

/* 新闻主体 */
.news_text {
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 14px;
    color: #666;
    line-height: 20px;
    margin: 10px 0 0 0;
    word-break:break-all;
    flex: 1;
}

.into_btn{
    width: 100px;
    height: 30px;
    border: 1px solid #f3f3f3;
    text-align: center;
    line-height: 30px;
}

.into_btn:hover{
    color: #FFA200;
}

#page_box .layui-laypage{
    margin-left: auto;
    margin-right: auto;
}