.logo_right {
    margin-left: 30px;
    font-size: 14px;
}

.condition_line {
    align-items: flex-start;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    line-height: 28px;
    padding: 6px 0;
}

.condition_line a {
    color: #333;
}

.condition_line a:hover {
    color: #FFA200;
}

.condition_title {
    color: #999;
    font-size: 12px;
    margin-right: 30px;
    flex-wrap: nowrap;
    min-width: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.option_box {
    flex-wrap: wrap;
}

.condition_option {
    color: #333;
    font-size: 12px;
    margin-right: 30px;
}

.condition_option:hover {
    color: #FFA200;
    font-size: 12px;
    margin-right: 30px;
    cursor: pointer;
}

.condition_option_select {
    color: #FFA200;
    font-size: 12px;
    margin-right: 30px;
}

.condition_option_select:hover {
    color: #FFA200;
    font-size: 12px;
    margin-right: 30px;
    cursor: pointer;
}

.content_box {
    align-items: flex-start;
}

.content_left {
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 20px;
    padding: 0 20px 0 20px;
}

.error_not_text {
    margin: 20px 0;
    line-height: 28px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.data_list {
    width: 100%;
}

.data_item_box {
    padding: 10px 0 20px 0;
    width: 100%;
    font: 14px Microsoft YaHei, SimHei, SimSun;
    color: #666;
    border-bottom: 1px solid #f3f3f3;
}

.data_item_box .item_image {
    width: 240px;
    height: 180px;
}

.data_item_box .item_image:hover {
    cursor: pointer;
}

.data_item_box .data_info_box {
    height: 180px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    flex-grow: 1;
}

.data_item_box .data_info_box .item_name {
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 20px;
}

.data_item_box .data_info_box .item_name:hover {
    cursor: pointer;
    color: #FFA200;
}

.data_item_box .data_info_box .item_margin {
    margin: 5px 0;
}

.data_item_box .data_info_box .item_title {
    color: #999999;
}

.data_item_box .item_position {
    font-size: 12px;
}

.data_item_box .item_size_btn_box {
    font-size: 12px;
    border: 1px solid #f3f3f3;
    border-left: none;
    margin-top: 20px;
}

.data_item_box .item_size_btn_box .item_size_btn {
    border-left: 1px solid #f3f3f3;
    padding: 0 20px;
    line-height: 28px;
}

.hover_de:hover {
    text-decoration: underline;
    color: #999999;
}

.data_item_box .item_price {
    height: 180px;
    flex-shrink: 0;
    flex-grow: 0;
}

.data_item_box .item_price .item_price_num {
    color: #f90;
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

