.logo_right {
    margin-left: 30px;
    font-size: 14px;
}

.condition_line {
    align-items: flex-start;
    margin: 0 50px;
    border-bottom: 2px solid #f3f3f3;
    line-height: 40px;
    height: 40px;
    font-size: 18px;
}

.condition_line_bottom {
    align-items: flex-start;
    margin: 0 50px;
    padding: 6px 80px;
    height: 20px;
}

.gradient_line_50 {
    background: -webkit-linear-gradient(left, #FFFFFF 50%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 50%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 50%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 50%, #EB9A63); /* 标准的语法 */
}

.gradient_line_55 {
    background: -webkit-linear-gradient(left, #FFFFFF 55%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 55%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 55%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 55%, #EB9A63); /* 标准的语法 */
}

.gradient_line_60 {
    background: -webkit-linear-gradient(left, #FFFFFF 60%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 60%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 60%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 60%, #EB9A63); /* 标准的语法 */
}

.gradient_line_65 {
    background: -webkit-linear-gradient(left, #FFFFFF 65%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 65%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 65%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 65%, #EB9A63); /* 标准的语法 */
}

.gradient_line_70 {
    background: -webkit-linear-gradient(left, #FFFFFF 70%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 70%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 70%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 70%, #EB9A63); /* 标准的语法 */
}

.gradient_line_75 {
    background: -webkit-linear-gradient(left, #FFFFFF 75%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 75%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 75%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 75%, #EB9A63); /* 标准的语法 */
}

.gradient_line_80 {
    background: -webkit-linear-gradient(left, #FFFFFF 80%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFFFFF 80%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFFFFF 80%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFFFFF 80%, #EB9A63); /* 标准的语法 */
}

.condition_line a {
    color: #333;
}

.condition_line a:hover {
    color: #FFA200;
}

.condition_title {
    color: #9E9E9E;
    flex-wrap: nowrap;
    min-width: 60px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.option_box {
    flex-wrap: wrap;
}

.building_item {
    display: flex;
    flex-direction: row;
}

.condition_option {
    color: #333;
    margin-right: 15px;
    font-size: 12px;
}

.condition_option:hover {
    cursor: pointer;
    color: #EF644F;
}

.condition_option_select {
    color: #EF644F;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
}

.condition_option_select:hover {
    cursor: pointer;
    color: #EF644F;
}

.content_box {
    align-items: flex-start;
}

.content_left {
    flex-shrink: 0;
    flex-grow: 1;
    margin-right: 20px;
    padding: 0 20px 0 20px;
}

.error_not_text {
    margin: 20px 0;
    line-height: 28px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.data_list {
    width: 100%;
}

.data_item_box {
    padding: 0 0 20px 0;
    font: 14px Microsoft YaHei, SimHei, SimSun;
    color: #666;
    width: 380px;
    height: 240px;
}

.item_image {
    height: 240px;
    width: 360px;
    margin-bottom: 40px;
}

.item_image:hover {
    cursor: pointer;
}

.data_info_box {
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    margin-left: 10px;
    position: relative;
}

.item_name {
    font-size: 22px;
    line-height: 22px;
    color: #707176;
}

.item_name:hover {
    cursor: pointer;
    color: #FFA200;
}

.item_margin {
    margin: 5px 0;
}

.item_address {
    color: #000000;
    margin-top: 10px;
    font-size: 12px;
}

.item_position {
    font-size: 12px;
    margin-left: 10px;
}

.building_info_box {
    font-size: 14px;
    color: #707176;
    margin-top: 10px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    flex: 1;
    line-height: 20px;
}

.building_info_title {
    color: #000000;
}

.item_size_btn_box {
    font-size: 12px;
    border: 1px solid #f3f3f3;
    border-left: none;
    margin-top: 15px;
}

.item_size_btn_box .item_size_btn {
    border-left: 1px solid #f3f3f3;
    padding: 0 20px;
    line-height: 28px;
}

.hover_de:hover {
    text-decoration: underline;
    color: #999999;
}

.item_price {
    position: absolute;
    right: 0;
    top: 0;
    flex-shrink: 0;
    flex-grow: 0;
    font-size: 20px;
    color: #EE634E;
}

.item_price .item_price_num {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

.item_btn {
    color: #FFFFFF;
    margin-top: 15px;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #FFAA91 5%, #EB9A63); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #FFAA91 5%, #EB9A63); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #FFAA91 5%, #EB9A63); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #FFAA91 5%, #EB9A63); /* 标准的语法 */
}

/* 右方 */
.right_search_box {
    width: 100%;
    height: 50px;
    border-radius: 4px;
    background: #F2F3F5;
    display: flex;
    font-size: 12px;
    flex-direction: row;
    align-items: center;
}

.right_search {
    height: 100%;
    border: none;
    background: none;
    flex: 1;
    padding: 0 0 0 16px;
}

.right_search_btn {
    width: 12px;
    height: 12px;
    margin-right: 10px;
    border: none;
    background: url("../img/search.png");
    background-size: 12px 12px;
}

.right_search_btn:hover {
    cursor: pointer;
}

.right_item_box {
    width: calc(100% - 40px);
    margin-top: 30px;
    border-radius: 2px;
    border: 1px solid #DCF0E1;
    padding: 30px 20px;
}

.right_item_title_red {
    font-size: 20px;
    color: #EF644E;
    margin-bottom: 20px;
}

.right_item_title_green {
    color: #01B22F;
    font-size: 20px;
    margin-bottom: 20px;
}

.right_heat_news_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #E7EBED;
}

.right_heat_news_img {
    width: 60px;
    height: 60px;
}

.right_heat_news {
    flex: 1;
    height: 60px;
    margin-left: 10px;
}

.right_heat_news_title {
    font-size: 12px;
    flex: 1;
    color: #000000;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.right_heat_news_title:hover {
    cursor: pointer;
    color: #EF644E;
}

.right_heat_news_time {
    font-size: 10px;
    color: #B5B6BC;
    margin-top: 10px;
}

.right_heat_mark {
    color: #01B22F;
}

.right_heat_building_item {
    color: #797A7E;
    font-size: 14px;
    line-height: 30px;
}