<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.AreaRangeMapperDao">

    <select id="selectAreaRangeList" resultType="cn.ddzu.shop.entity.AreaRange">
        SELECT * FROM AREA_RANGE ORDER BY ID ASC;
    </select>

    <select id="selectAreaRangeListByBuilding"
            resultType="cn.ddzu.shop.entity.AreaRange"
            parameterType="java.lang.Long">
        SELECT * FROM AREA_RANGE WHERE ID IN
        (
            SELECT AREA_RANGE_ID AS ID
            FROM OFFICE WHERE BUILDING_ID = #{BUILDING_ID}
            GROUP BY AREA_RANGE_ID
        ) ORDER BY ID ASC;
    </select>
</mapper>