<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.AreaRangeMapperDao">
    <update id="drop">
        drop table if exists area_range
    </update>

    <update id="create">
        create table area_range
        (
            id   int(11) auto_increment,
            name varchar(255),
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into area_range(name)
        values ('全部'),
               ('0-100m²'),
               ('100-300m²'),
               ('300-500m²'),
               ('500-1000m²'),
               ('1000m²以上')
    </update>

    <select id="selectAreaRangeList" resultType="cn.ddzu.shop.entity.AreaRange">
        select * from area_range order by id asc
    </select>

    <select id="selectAreaRangeListByBuilding"
            resultType="cn.ddzu.shop.entity.AreaRange"
            parameterType="java.lang.Long">
        select * from area_range where id in
        (
            select area_range_id as id
            from office where office.building_id = #{building_id}
            group by area_range_id
        ) or id = 1 order by id asc
    </select>
</mapper>