<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.DBMapperDao">
    <update id="update_1">
        alter table building add edit_time date after img_list;
        alter table building add hot boolean default false after edit_time;
        alter table office add edit_time date after img_list;
        alter table office add hot boolean default false after edit_time;
    </update>
</mapper>