<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.DecorationMapperDao">
    <update id="drop">
        drop table if exists decoration
    </update>

    <update id="create">
        create table decoration
        (
            id   int(11) auto_increment,
            name varchar(255),
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into decoration(name)
        values ('全部'),
               ('豪华装修'),
               ('精装修'),
               ('中等装修'),
               ('简装修'),
               ('毛坯')
    </update>

    <select id="select" resultType="cn.ddzu.shop.entity.Decoration">
        select * from decoration order by id asc
    </select>

    <select id="selectByBuilding"
            resultType="cn.ddzu.shop.entity.AreaRange"
            parameterType="java.lang.Long">
        select * from decoration where id in
        (
            select decoration_id as id
            from office where building_id = #{building_id}
            group by decoration_id
        ) or id = 1 order by id asc
    </select>
</mapper>