<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.DecorationMapperDao">
    <update id="drop">
        drop table if exists decoration
    </update>

    <update id="create">
        create table decoration
        (
            id   bigint,
            name varchar(255),
            valid boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into decoration
        values (1, '全部', true),
               (2, '豪华装修', true),
               (3, '精装修', true),
               (4, '中等装修', true),
               (5, '简装修', true),
               (6, '毛坯', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.Decoration">
        select * from decoration
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.Decoration">
        insert into decoration values (
            #{data.id},
            #{data.name},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.Decoration">
        select id, name from decoration
        where valid = true
        order by id asc
    </select>

    <select id="selectByBuilding"
            resultType="cn.ddzu.shop.entity.Decoration"
            parameterType="java.lang.Long">
        select id, name from decoration
        where valid = true
        and id in
        (
            select decoration_id as id from office
            where valid = true and building_id = #{building_id}
            group by decoration_id
        ) or id = 1 order by id asc
    </select>
</mapper>