<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.MetroMapperDao">
    <update id="drop">
        drop table if exists metro
    </update>

    <update id="create">
        create table metro
        (
            id   bigint,
            name varchar(255),
            valid boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into metro
        values (1, '全部', true),
               (2, '1号线', true),
               (3, '2号线', true),
               (4, '3号线', true),
               (5, '4号线', true),
               (6, '5号线', true),
               (7, '6号线', true),
               (8, '7号线', true),
               (9, '8号线', true),
               (10, '9号线', true),
               (11, '13号线', true),
               (12, '16号线', false),
               (13, '10号线', true),
               (14, '10号线支线', false),
               (15, '11号线', true),
               (16, '11号线支线', false),
               (17, '12号线', true),
               (18, '磁悬浮', false),
               (19, '17号线', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.Metro">
        select * from metro
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.Metro">
        insert into metro values (
            #{data.id},
            #{data.name},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.Metro">
        select id, name from metro
        where valid = true
        order by id asc
    </select>

    <select id="selectById" resultType="cn.ddzu.shop.entity.Metro" parameterType="Long">
        select id, name from metro
        where id = #{id}
    </select>
</mapper>