<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.MetroMapperDao">

    <select id="selectMetroList" resultType="cn.ddzu.shop.entity.Metro">
        SELECT * FROM METRO ORDER BY ID ASC;
    </select>

    <select id="selectMetroById" resultType="cn.ddzu.shop.entity.Metro" parameterType="Long">
        SELECT * FROM METRO WHERE ID = #{id};
    </select>
</mapper>