<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.NewsMapperDao">
    <update id="drop">
        drop table if exists news
    </update>

    <update id="create">
        create table news
        (
            id             bigint,
            title          varchar(255),
            sub_title      varchar(255),
            create_time    date,
            last_edit_time date,
            content        varchar(8192),
            news_tag_id    bigint,
            hot            boolean default false,
            img_list       varchar(8192),
            notes          varchar(4096),
            valid          boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.News">
        select * from news
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.News">
        insert into news values (
            #{data.id},
            #{data.title},
            #{data.sub_title},
            #{data.create_time},
            #{data.last_edit_time},
            #{data.content},
            #{data.news_tag_id},
            #{data.hot},
            #{data.img_list},
            #{data.notes},
            true
        )
    </insert>

    <update id="update" parameterType="cn.ddzu.shop.entity.News">
        update news
        set
            title = #{data.title},
            sub_title = #{data.sub_title},
            last_edit_time = #{data.last_edit_time},
            content = #{data.content},
            news_tag_id = #{data.news_tag_id},
            hot = #{data.hot},
            img_list = #{data.img_list},
            notes = #{data.notes}
        where id = #{data.id}
    </update>

    <update id="delete" parameterType="java.lang.Long">
        update news
        set valid = false
        where id = #{id}
    </update>

    <select id="select" resultType="cn.ddzu.shop.entity.News">
        select
        news.id as id,
        news.title as title,
        news.sub_title as sub_title,
        news.create_time as create_time,
        news.last_edit_time as last_edit_time,
        news.content as content,
        news.news_tag_id as news_tag_id,
        news.hot as hot,
        news.img_list as img_list,
        news.notes as notes,
        news_tag.name as news_tag_name
        from news
        left join news_tag on news.news_tag_id = news_tag.id
        where news.valid = true
        <if test="news_tag_id != 1">
            and news_tag_id = #{news_tag_id}
        </if>
        order by last_edit_time desc
    </select>

    <select id="selectById" resultType="cn.ddzu.shop.entity.News" parameterType="Long">
        select
        id,
        title,
        sub_title,
        create_time,
        last_edit_time,
        content,
        news_tag_id,
        hot,
        img_list,
        notes
        from news
        where valid = true and id = #{id}
    </select>

    <select id="count" resultType="java.lang.Integer">
        select count(*) from news
        where valid = true
        <if test="news_tag_id != 1">
            and news_tag_id = #{news_tag_id}
        </if>
    </select>

    <select id="selectWhereHot" resultType="cn.ddzu.shop.entity.News">
        select
        id,
        title,
        sub_title,
        create_time,
        last_edit_time,
        content,
        news_tag_id,
        hot,
        img_list,
        notes
        from news
        where valid = true and hot = true
        order by last_edit_time desc
        limit 20
    </select>

    <select id="selectWhereNew" resultType="cn.ddzu.shop.entity.News">
        select
        id,
        title,
        sub_title,
        create_time,
        last_edit_time,
        content,
        news_tag_id,
        hot,
        img_list,
        notes
        from news
        where valid = true
        order by last_edit_time desc
        limit 12
    </select>
</mapper>