<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.NewsTagMapperDao">
    <update id="drop">
        drop table if exists news_tag
    </update>

    <update id="create">
        create table news_tag
        (
            id   bigint,
            name varchar(255),
            valid boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into news_tag (id, name, valid)
        values (1, '全部', true),
               (2, '行业新闻', true),
               (3, '楼盘介绍', true),
               (4, '找房攻略', true),
               (5, '橙办新闻', true),
               (6, '媒体报道', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.NewsTag">
        select * from news_tag
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.NewsTag">
        insert into news_tag (id, name, valid) values (
            #{data.id},
            #{data.name},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.NewsTag">
        select id, name from news_tag
        where valid = true
        order by id asc
    </select>
</mapper>