<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.PriceRangeMapperDao">

    <select id="selectPriceRangeList" resultType="cn.ddzu.shop.entity.PriceRange">
        SELECT * FROM PRICE_RANGE ORDER BY ID ASC;
    </select>

    <select id="selectPriceRangeListByBuilding"
            resultType="cn.ddzu.shop.entity.AreaRange"
            parameterType="java.lang.Long">
        SELECT * FROM PRICE_RANGE WHERE ID IN
        (
            SELECT PRICE_RANGE_ID AS ID
            FROM OFFICE WHERE BUILDING_ID = #{building_id}
            GROUP BY PRICE_RANGE_ID
        ) OR ID = 1 ORDER BY ID ASC;
    </select>
</mapper>