<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.PriceRangeMapperDao">
    <update id="drop">
        drop table if exists price_range
    </update>

    <update id="create">
        create table price_range
        (
            id   bigint,
            name varchar(255),
            valid boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into price_range
        values (1, '全部', true),
               (2, '0-3元/m²/天', true),
               (3, '3-4元/m²/天', true),
               (4, '4-5元/m²/天', true),
               (5, '5-7元/m²/天', true),
               (6, '7-9元/m²/天', true),
               (7, '9-12元/m²/天', true),
               (8, '12元/m²/天以上', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.PriceRange">
        select * from price_range
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.PriceRange">
        insert into price_range values (
            #{data.id},
            #{data.name},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.PriceRange">
        select id, name from price_range
        where valid = true
        order by id asc
    </select>

    <select id="selectByBuilding"
            resultType="cn.ddzu.shop.entity.PriceRange"
            parameterType="java.lang.Long">
        select id, name from price_range
        where valid = true
        and id in
        (
            select price_range_id as id from office
            where valid = true and building_id = #{building_id}
            group by price_range_id
        ) or id = 1 order by id asc
    </select>
</mapper>