<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.TypeMapperDao">

    <select id="selectTypeList" resultType="cn.ddzu.shop.entity.Type">
        SELECT * FROM TYPE ORDER BY ID ASC;
    </select>
</mapper>