<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.TypeMapperDao">
    <update id="drop">
        drop table if exists type
    </update>

    <update id="create">
        create table type
        (
            id   int(11) auto_increment,
            name varchar(255),
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into type(name)
        values ('全部'),
               ('普通办公'),
               ('联合办公'),
               ('创意园区')
    </update>

    <select id="select" resultType="cn.ddzu.shop.entity.Type">
        select * from type order by id asc
    </select>

    <select id="selectByBuilding"
            resultType="cn.ddzu.shop.entity.AreaRange"
            parameterType="java.lang.Long">
        select * from type where id in
        (
            select type_id as id
            from office where building_id = #{building_id}
            group by type_id
        ) or id = 1 order by id asc
    </select>
</mapper>