<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.TypeMapperDao">
    <update id="drop">
        drop table if exists type
    </update>

    <update id="create">
        create table type
        (
            id   bigint,
            name varchar(255),
            valid boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into type
        values (1, '全部', true),
               (2, '普通办公', true),
               (3, '联合办公', true),
               (4, '创意园区', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.Type">
        select * from type
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.Type">
        insert into type values (
            #{data.id},
            #{data.name},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.Type">
        select id, name from type
        where valid = true
        order by id asc
    </select>

    <select id="selectByBuilding"
            resultType="cn.ddzu.shop.entity.Type"
            parameterType="java.lang.Long">
        select id, name from type
        where valid = true
        and id in
        (
            select type_id as id from office
            where valid = true and building_id = #{building_id}
            group by type_id
        ) or id = 1 order by id asc
    </select>
</mapper>