<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.UserMapperDao">
    <update id="drop">
        drop table if exists user
    </update>

    <update id="create">
        create table user
        (
            username varchar(255),
            password varchar(255),
            valid    boolean default true,
            primary key (username)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into user
        values ('edwin', 'edwin', true),
               ('qqq', 'qqq', true),
               ('wmk', 'wmk', true),
               ('ltsoul', 'ltsoul', true)
    </update>

    <select id="selectAll" resultType="cn.ddzu.shop.entity.User">
        select * from user
    </select>

    <insert id="insert" parameterType="cn.ddzu.shop.entity.User">
        insert into user values (
            #{data.username},
            #{data.password},
            #{data.valid}
        )
    </insert>

    <select id="select" resultType="cn.ddzu.shop.entity.User" parameterType="java.lang.String">
        select username, password from user where username = #{username}
    </select>
</mapper>