<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.ZoneMapperDao">
    <update id="drop">
        drop table if exists zone
    </update>

    <update id="create">
        create table zone
        (
            id          bigint,
            district_id bigint,
            name        varchar(255),
            center      boolean default false,
            img_list    varchar(8192),
            valid       boolean default true,
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into zone(id, district_id, name, valid)
        values (1, 1, '全部', true),(2, 2, '全部', true),(3, 3, '全部', true),(4, 4, '全部', true),
               (5, 5, '全部', true),(6, 6, '全部', true),(7, 7, '全部', true),(8, 8, '全部', true),
               (9, 9, '全部', true),(10, 10, '全部', true),(11, 11, '全部', true),(12, 12, '全部', true),
               (13, 13, '全部', true),(14, 14, '全部', true),(15, 15, '全部', true),(16, 16, '全部', true),
               (17, 17, '全部', true),(18, 18, '全部', true),(19, 19, '全部', true),

               (20, 2, '八佰伴', true),(21, 2, '北蔡/塘桥', true),(22, 2, '川沙', true),(23, 2, '金桥开发区', true),
               (24, 2, '陆家嘴', true),(25, 2, '南码头', true),(26, 2, '浦东外环', true),(27, 2, '三林', true),
               (28, 2, '上南地区', true),(29, 2, '世博滨江', true),(30, 2, '世纪公园', true),(31, 2, '外高桥', true),
               (32, 2, '洋泾', true),(33, 2, '御桥金桥', true),(34, 2, '高行', true),(35, 2, '张江高科', true),
               (36, 2, '竹园商贸区', true),

               (37, 3, '董家渡', true),(38, 3, '老西门', true),(39, 3, '南京东路', true),(40, 3, '人民广场', true),
               (41, 3, '外滩', true),

               (42, 4, '打浦桥', true),(43, 4, '淮海中路', true),(44, 4, '五里桥/鲁班路', true),(45, 4, '新天地', true),
               (46, 5, '漕河泾', true),(47, 5, '淮海西路', true),(48, 5, '龙华', true),(49, 5, '上海南站', true),
               (50, 5, '万体馆', true),(51, 5, '徐家汇', true),

               (52, 6, '北新泾', true),(53, 6, '虹桥火车站', true),(54, 6, '虹桥开发区/古北', true),(55, 6, '天山路', true),
               (56, 6, '延安西路', true),(57, 6, '中山公园', true),

               (58, 7, '北京西路', true),(59, 7, '曹家渡', true),(60, 7, '静安寺', true),(61, 7, '南京西路/江宁路', true),

               (62, 8, '甘泉宜川', true),(63, 8, '中远两湾城', true),(64, 8, '中山北路', true),(65, 8, '长风商务区', true),
               (66, 8, '长寿路', true),(67, 8, '真如/李子园', true),

               (68, 9, '大宁/延长路', true),(69, 9, '火车站', true),(70, 9, '汶水路/共和新路', true),(71, 9, '彭浦', true),
               (72, 9, '闸北公园', true),

               (73, 10, '北外滩', true),(74, 10, '大柏树', true),(75, 10, '凉城路/虹口足球场', true),(76, 10, '临平/和平公园', true),
               (77, 10, '曲阳', true),(78, 10, '四川北路', true),(79, 10, '四平路', true),

               (80, 11, '四平路', true),(81, 11, '鞍山', true),(82, 11, '控江路', true),(83, 11, '周家嘴', true),
               (84, 11, '东外滩', true),(85, 11, '平凉', true),(86, 11, '长阳路', true),(87, 11, '五角场', true),
               (88, 11, '新江湾城', true),(89, 11, '中原', true),

               (90, 12, '七宝', true),(91, 12, '七莘路', true),(92, 12, '莘庄', true),(93, 12, '颛桥/老闵行', true),
               (94, 12, '春申', true),(95, 12, '虹桥镇', true),(96, 12, '华漕', true),(97, 12, '南方商城', true),
               (98, 12, '浦江', true),(99, 12, '龙柏金汇', true),(100, 12, '其他', true),

               (101, 13, '淞南高境', true),(102, 13, '顾村', true),(103, 13, '共康', true),(104, 13, '共富', true),
               (105, 13, '大华', true),(106, 13, '宝山其他', true),

               (107, 14, '安亭', true),(108, 14, '丰庄', true),(109, 14, '嘉定城区', true),(110, 14, '江桥', true),
               (111, 14, '南翔', true),(112, 14, '嘉定其他', true),

               (113, 15, '九亭/新桥', true),(114, 15, '泗泾', true),(115, 15, '松江新城/松江大学城', true),(116, 15, '松江其他', true),

               (117, 16, '青浦新城', true),(118, 16, '青浦其他', true),

               (119, 19, '周浦', true),(120, 19, '康桥', true),(121, 19, '航头', true)
    </update>

    <select id="selectByDistrict" resultType="cn.ddzu.shop.entity.Zone" parameterType="long">
        select * from zone
        where valid = true and district_id = #{district_id}
        order by id asc
    </select>

    <select id="selectById" resultType="cn.ddzu.shop.entity.Zone" parameterType="long">
        select * from zone
        where valid = true and id = #{id}
    </select>
</mapper>