<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.ZoneMapperDao">

    <select id="selectZoneList" resultType="cn.ddzu.shop.entity.Zone" parameterType="long">
        SELECT * FROM ZONE WHERE DISTRICT_ID = #{district_id} ORDER BY ID ASC;
    </select>
</mapper>