<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress ALL -->
<mapper namespace="cn.ddzu.shop.dao.ZoneMapperDao">
    <update id="drop">
        drop table if exists zone
    </update>

    <update id="create">
        create table zone
        (
            id          int(11) auto_increment,
            district_id int(11),
            name        varchar(255),
            primary key (id)
        ) default charset = utf8
    </update>

    <update id="init">
        insert into zone(district_id, name)
        values (1, '全部'),(2, '全部'),(3, '全部'),(4, '全部'),
               (5, '全部'),(6, '全部'),(7, '全部'),(8, '全部'),
               (9, '全部'),(10, '全部'),(11, '全部'),(12, '全部'),
               (13, '全部'),(14, '全部'),(15, '全部'),(16, '全部'),
               (17, '全部'),(18, '全部'),(19, '全部'),

               (2, '八佰伴'),(2, '北蔡/塘桥'),(2, '川沙'),(2, '金桥开发区'),
               (2, '陆家嘴'),(2, '南码头'),(2, '浦东外环'),(2, '三林'),
               (2, '上南地区'),(2, '世博滨江'),(2, '世纪公园'),(2, '外高桥'),
               (2, '洋泾'),(2, '御桥金桥'),(2, '高行'),(2, '张江高科'),
               (2, '竹园商贸区'),

               (3, '董家渡'),(3, '老西门'),(3, '南京东路'),(3, '人民广场'),
               (3, '外滩'),

               (4, '打浦桥'),(4, '淮海中路'),(4, '五里桥/鲁班路'),(4, '新天地'),
               (5, '漕河泾'),(5, '淮海西路'),(5, '龙华'),(5, '上海南站'),
               (5, '万体馆'),(5, '徐家汇'),

               (6, '北新泾'),(6, '虹桥火车站'),(6, '虹桥开发区/古北'),(6, '天山路'),
               (6, '延安西路'),(6, '中山公园'),

               (7, '北京西路'),(7, '曹家渡'),(7, '静安寺'),(7, '南京西路/江宁路'),
               (8, '甘泉宜川'),(8, '中远两湾城'),(8, '中山北路'),(8, '长风商务区'),
               (8, '长寿路'),(8, '真如/李子园'),

               (9, '大宁/延长路'),(9, '火车站'),(9, '汶水路/共和新路'),(9, '彭浦'),
               (9, '闸北公园'),

               (10, '北外滩'),(10, '大柏树'),(10, '凉城路/虹口足球场'),(10, '临平/和平公园'),
               (10, '曲阳'),(10, '四川北路'),(10, '四平路'),

               (11, '四平路'),(11, '鞍山'),(11, '控江路'),(11, '周家嘴'),
               (11, '东外滩'),(11, '平凉'),(11, '长阳路'),(11, '五角场'),
               (11, '新江湾城'),(11, '中原'),

               (12, '七宝'),(12, '七莘路'),(12, '莘庄'),(12, '颛桥/老闵行'),
               (12, '春申'),(12, '虹桥镇'),(12, '华漕'),(12, '南方商城'),
               (12, '浦江'),(12, '龙柏金汇'),(12, '其他'),

               (13, '淞南高境'),(13, '顾村'),(13, '共康'),(13, '共富'),
               (13, '大华'),(13, '宝山其他'),

               (14, '安亭'),(14, '丰庄'),(14, '嘉定城区'),(14, '江桥'),
               (14, '南翔'),(14, '嘉定其他'),

               (15, '九亭/新桥'),(15, '泗泾'),(15, '松江新城/松江大学城'),(15, '松江其他'),

               (16, '青浦新城'),(16, '青浦其他'),

               (19, '周浦'),(19, '康桥'),(19, '航头')
    </update>

    <select id="selectZoneList" resultType="cn.ddzu.shop.entity.Zone" parameterType="long">
        select * from zone where district_id = #{district_id} order by id asc
    </select>

    <select id="selectZoneById" resultType="cn.ddzu.shop.entity.Zone" parameterType="long">
        select * from zone where id = #{id}
    </select>
</mapper>